<?xml version="1.0"?>
<launch>

<arg name="launch_kinect" default="false"/>
<arg name="launch_rgbd" default="true"/>
<arg name="ed_config" default="$(find rose_ed_config)/config/rose.yaml"/>

<env name="ED_PLUGIN_PATH" value="$(find ed)/../../devel/lib"/>
<node name="ed" pkg="ed" type="ed" args="$(arg ed_config)" output="screen" machine="pc1"/>
<node name="ed_rviz_publisher" pkg="ed_gui_server" type="ed_rviz_publisher" machine="pc1"/>

<node name="relay_planner_maps" pkg="topic_tools" type="relay" args="/ed/navigation/map /map_planner"/> 
<node name="relay_localization_maps" pkg="topic_tools" type="relay" args="/ed/navigation/map /map"/> 

<include file="$(find rose21_urdf)/launch/description.launch"/>

<!-- KINECT -->
<group if="$(arg launch_kinect)">
    <include file="$(find openni_launch)/launch/openni.launch"/>
</group>

<!-- RGBD SERVER -->
<group if="$(arg launch_rgbd)">
    <include file="$(find rgbd)/launch/standard_kinect.launch"/>
</group>

</launch>
