<?xml version="1.0"?>
<launch>

<arg name="launch_kinect" default="false"/>
<arg name="launch_rgbd" default="true"/>
<arg name="ed_config" default="$(find ed)/config/rose.yaml"/>

<env name="ED_PLUGIN_PATH" value="$(find ed)/../../devel/lib"/>
<node name="ed" pkg="ed" type="ed" args="$(arg ed_config)" output="screen" />

<include file="$(find rose21_urdf)/launch/description.launch"/>

<!-- KINECT -->
<group if="$(arg launch_kinect)">
    <include file="$(find openni_launch)/launch/openni.launch"/>
</group>

<!-- RGBD SERVER -->
<group if="$(arg launch_rgbd)">
    <include file="$(find rgbd)/launch/standard_kinect.launch"/>
</group>

</launch>
